@import '~bootstrap/scss/bootstrap';

header{
    height: 68px;
}

.option-box{
    height: calc(100vh - 68px);
}

aside{
    ul{
        list-style: none;
        li{
            a{
                i{
                    font-size: .6rem;
                }
                text-decoration: none;
                color: white;
            }
        }
    }
}

table{
    border: 1px solid black;
}

.thumb{
    width: 20rem;
    margin: 10px auto;
}
