@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600;1,900&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    height: 68px;
}

.option-box{
    height: calc(100vh - 68px);
}

aside{
    .links{
        a{
            i{
                font-size: .6rem;
            }
            text-decoration: none;
            color: white;
        }
    }

    .notactive{
        transition: .3s all;
        padding: 7px 9px;
        border-radius: 3px;
        &:hover{
            background-color: #C52133;
        }
    }

    .active{
        color: #C52133 !important;
        -webkit-text-stroke: .3px white;
    }
}

table{
    border: 1px solid black;
    a{
        text-decoration: none;
        color: black;
        transition: .3s all;
        &:hover{
            color: #C52133;
        }
    }
    .asc{
        &::after{
            content: '\25B2';
            font-size: .6rem;
            color: #C52133;
            padding-left: 7px;
        }
    }
    .desc{
        &::after{
            content: '\25BC';
            font-size: .6rem;
            color: #C52133;
            padding-left: 7px;
        }
    }
}

.thumb{
    width: 20rem;
    margin: 10px auto;
}

.my-logo{
    width: 55px;
}

.pag-box{
    margin-top: 10px;
    .pagination{
        .page-item{
            margin: 0 4px;
            &.active .page-link{
                background-color: #C52133 !important;
            }
            .page-link{
                border: none;
                background-color: #212529;
                color: white;
                font-weight: bold;
                border-radius: 10px;
                font-size: .9rem;
            }
        }
    }
}

form{
    label{
        font-size: .85rem;
        font-weight: bold;
        padding-left: 7px;
    }
}

.error-message{
    color: red;
    font-size: .8rem;
    font-style: italic;
    padding-left: 7px;
    padding-top: 6px;
}

.arrow{
    text-decoration: none;
    color: #212529;
    font-size: 3.5rem;
    padding-left: 20px;
    transition: .2s all;
    &:hover{
        transform: scale(.85);
    }
}
